<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"  data-th-href="@{'/css/output.css'}" />
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css" rel="stylesheet" />

</head>
<body>
  <div class="container bg-gray-200">
  <h1 data-th-text="${name}">welcome to home page </h1>

      <p th:text="${github}"></p>

      <a data-th-href="${youtubechannel}">Youtube</a>
      <a data-th-href="${github}">Github</a>

      <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas beatae
          reiciendis a? Esse reiciendis, optio quia ad tempora velit nostrum sequi,
          exercitationem numquam beatae sunt blanditiis! Unde culpa consectetur libero.
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas beatae
          reiciendis a? Esse reiciendis, optio quia ad tempora velit nostrum sequi,
          exercitationem numquam beatae sunt blanditiis! Unde culpa consectetur libero.

      </p>

  </div>



  <a href="#" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">

      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
      <p class="font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
  </a>



  <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>

</body>
</html>